extends layout-main

block content
  .profile-container
    .profile-content
      .left-panel
        .header-card
            h2 #{user.firstName} #{user.lastName}
        hr
        .detail-wrapper
          .detail-card
            span Média de avaliações de Recursos Disponibilizados
             p= averageRating.toFixed(1)
          .detail-card
            span Recursos Disponibilizados
            p= resourceCount
        .detail-wrapper
          .detail-card
            span Posts Feitos
            p= postCount
          .detail-card
            span Especialista em
            p= mostFrequentTypes.join(', ')
        hr
        if highestRatedResource
          a.bigger-container(href=`/resource/${highestRatedResource._id}`)
            h4 Recurso mais avaliado:
            h5= highestRatedResource.title
        else
          .bigger-container
            h4 Recurso mais avaliado:
            h5 Nenhum recurso avaliado encontrado
      .account-details
        .header-card
            h3 Account Details
        hr
        .detail-wrapper
          .detail-card-clickable
            span First Name
            p= user.firstName
          .detail-card-clickable
            span Last Name
            p= user.lastName
        .detail-wrapper
          .detail-card
            span Filiação
            p Curso: #{user.course}, Departamento: #{user.department}
          .detail-card
            span Nível
            if user.admin
              p Admin
            else
              p Utilizador
        .detail-wrapper
          .detail-card
            span Data de Registo
            p= new Date(user.registrationDate).toLocaleDateString()
          .detail-card
            span Data do Último Acesso
            p= new Date(user.lastAccessDate).toLocaleDateString()
        .detail-wrapper
          .detail-card-clickable
            span Email
            p= user.email
          .detail-card-clickable
            span Role
            p= user.role
    style.
      .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #212020;
        color: #fff;
      }
      .profile-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .header-card {
        width: 100%;
        background-color: #444;
        border-radius: 5px;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        height: 10%;
        padding: 2%;
        cursor: default;
      }
      .left-panel {
        display: flex;
        flex-direction: column;
        width: 75%; /* Ajuste da largura da caixa principal */
        background-color: #333;
        border-radius: 5px;
        padding: 25px;
        margin-right: 2.5%;
        margin-left: -15%;
        margin-top: 2.5%;
      }
      .account-details {
        display: flex;
        flex-direction: column;
        width: 75%; /* Ajuste da largura da caixa principal */
        background-color: #333;
        border-radius: 5px;
        padding: 25px;
        margin-left: 2.5%;
        margin-right: -15%;
        margin-top: 2.5%;
      }
      .detail-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 2.5%;
      }
      .detail-card {
        background-color: #444;
        border-radius: 5px;
        padding: 20px; /* Aumenta o padding para maior altura */
        margin-bottom: 10px;
        width: 48%; /* Reduz a largura das caixas secundárias */
        cursor: default;
      }
      .detail-card-clickable {
        background-color: #444;
        border-radius: 5px;
        padding: 20px; /* Aumenta o padding para maior altura */
        margin-bottom: 10px;
        width: 48%; /* Reduz a largura das caixas secundárias */
        cursor: pointer;
      }
      .detail-card-clickable:hover {
        color: #1fd761;
      }
      .bigger-container {
        display: block; /* Necessário para que a tag <a> envolva corretamente a div */
        width: 100%;
        background-color: #444;
        border-radius: 5px;
        margin-bottom: 2.5%;
        margin-top: 2.5%;
        padding: 5%;
        cursor: pointer;
        text-decoration: none; /* Remove o sublinhado dos links */
        color: inherit; /* Garante que a cor do texto herda a cor do pai */
      }
      .bigger-container:hover {
        color: #1fd761; /* Altera a cor do texto para verde */
        text-decoration: none; /* Garante que o texto não fique sublinhado */
      }
      hr {
        border: 1px solid #444; /* Cor branca para a linha horizontal */
        width: 100%; /* Garante que a linha ocupe toda a largura */
      }
      span {
        display: block;
        font-weight: bold;
      }
