extends layout-main

block content
  .container
    .title-container
      h2 Lista de Usuários
    if users.length
      .user-list
        each user in users
          .user-item
            h3= user.firstName + ' ' + user.lastName
            p Email: #{user.email}
            p Role: #{user.role}
            p Curso: #{user.course}
            p Departamento: #{user.department}
            p Nível: #{user.level}
            p Data de Registro: #{user.registrationDate.toDateString()}
            p Último Acesso: #{user.lastAccessDate.toDateString()}
    else
      p Nenhum usuário encontrado

    style.
      .title-container {
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;
      }
      .user-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .user-item {
        background-color: #444;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
      }
      .user-item:hover {
        color: #1fd761;
        cursor: pointer;
      }
      .user-item h3 {
        margin: 0 0 10px;
      }
      .user-item p {
        margin: 5px 0;
      }
